html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden; /* Prevents scrolling on the body */
}

.app-container {
  display: flex;
  transition: margin-left 0.3s;
  flex-direction: column;
  height: 100vh;
}

.sidebar-open .content-container {
  margin-left: 160px; /* Width of the sidebar */
}

.navbar {
  flex-shrink: 0; /* Prevents navbar from shrinking */
}

.content-container {
  flex: 1;
  transition: margin-left 0.3s;
  
  margin-top: 64px; /* Adjust based on your navbar height */
  /* padding: 20px; */
}

.content-container.shifted {
  margin-left: 200px; /* Should match the open width of your sidebar */
}